body {
    text-align: center;
}
header { 
  display: block; 
  background: lightgray; 
  padding: 10px; 
  text-align: center; 
} 
pre{
    font-family: Arial, sans-serif;
    font-size: 18px;    
    background-color: #23c4d3;
    padding: 10px;
    border-radius: 5px;
    margin: 0 auto;
}
a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    padding: 8px 16px;
    background-color: #333;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}
.main ul { 
  list-style: none; 
  padding: 0; 
} 
.main li { 
  display: inline-block; 
  margin-right: 10px; 
} 
.main a { 
  text-decoration: none; 
  padding: 5px; 
  background: rgb(41, 190, 239); 
} 

