body{
  text-align: center;
}
header{
 display: block;
 background: lightgray;
 padding: 10px;
 text-align: center;
}
pre{
  font-family: Arial,sans-serif;
  font-size: 18px;  
  background-color: lightblue;
  padding: 10px;
  border-radius: 5px;
  margin: 0 auto;
 text-align: center;

}
a{
  text-decoration: none;
  width: 100px;
  color: white;
  font-weight: bold;
  padding:8px 16px;
  background-color: black;
  border-radius: 4px;
  transition:background-colo r0.3s ease;
  text-align: center;
}
.main ul{
 list-style:none;
 padding:0;
}
.main li{
 display: inline-block;
 margin-right:10px;
}
.main a{
 text-decoration:none;
 padding:5px;
 background:blue;
}
