pre{
    font-family: Arial, sans-serif;
    font-size: 18px;    
    background-color: #23c4d3;
    padding: 10px;
    border-radius: 5px;
    margin: 0 auto;
}
header {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
    color: #333;
    
}
a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    padding: 8px 16px;
    background-color: #333;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}