body{
            height:100vh;
        }
        .container{
            background-color: white;
             height:100vh;
             display: grid;
             grid-template-columns:repeat(4, 1fr);
             grid-template-rows: repeat(1, 1fr);
             justify-content: center;
             gap: 70px;
             border-radius: 10px;
        }
        .item{
            background-color: rgb(18, 228, 130);
            border: 3px  black;
            margin: 10px;
            margin-bottom: 30px;
            height: 400px;
            width: 400px ;
            justify-content: center;
        }
        .item1{
            grid-column: 1 / 2;
            grid-row: 1 / 2;
        }
        .item2{
            grid-column: 2 / 3;
            grid-row: 1/2;
        }
        .item3{
            grid-column: 3 / 4;
            grid-row: 1 /2;
        }.item4{
            grid-column: 4 / 5;
            grid-row: 1/ 2;
        }
        .main { max-width: 420px; margin: 0 auto; } 
.product-card { 
  background: blanchedalmond; 
  border: 1px solid #0f0f10;
  padding: 12px;
  width: 100%;
  height: auto;
  border-radius: 6px; 
} 
.image { 
  width: 100%;
  height: 200px;
  object-fit: cover; 
  display: block;
  margin-bottom: 10px; 
  border: 1px solid #ddd;
} 
.title { 
  font-size: 25px;
  margin-bottom: 6px; 
} 
.desc { 
  font-size: 20px; 
  font-style: italic;
  color: #444;
  margin-bottom: 10px; 
} 
.prices { margin-bottom: 12px;
          text-align: center; 
          font-size: 30px;} 
.new-price { 
  font-weight: 700; 
  color: #070707; 
  margin-right: 8px;
  display: inline;
} 
.old-price { 
  color: #888; 
  text-decoration: line-through; 
  display: inline;
} 
.addtocart { 
  display: block;
  width: 100%;
  padding: 10px;
  background: #eb6d06;
  color: #fff; 
  border: none; 
  border-radius: 4px;
  cursor: pointer; 
  font-size: 16px;
} 
