
#abc{
    color: red;
    font-size: 40px;
    text-align: center;
}
body {
        font-family: Arial, sans-serif;
        line-height: 1.6;
        margin: 30px;
        background-color: beige;

        
    }


    
    p{
        color: #333;
        text-align: center;
        background-attachment: fixed;
        background-color: rgba(200, 200, 200, 0.842);
        
    }
    div{
        color: blue;
        font-size: 20px;
        text-align: justify;
        background-color: rgba(150, 150, 150, 0.842);
        margin: 20px;
        padding: 15px;}